
body {
    background-color: #111;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
}



.navbar {
    background-color: #222;
}

.navbar .dropdown-menu {
    background-color: #333;
}

.navbar .dropdown-item {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
    background-color: #555;
}


h2 {
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#website-logo{
    color: #111111;
}


textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-container {
    text-align: center;
}

.button-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 4px;
}

.button-container button:hover {
    background-color: #45a049;
}

#status {
    margin-top: 20px;
    text-align: center;
}

.success {
    color: green;
}

.error {
    color: red;
}
