* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

.container {
    background: #111; /* Darker background color */
    width: 350px;
    height: 800px; /* Increased height */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center; /* Centering the form vertically */
    padding: 2em;
}

.heading {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #fff;
}

.box {
    margin: 0.2em 0;
}

.container .box p {
    color: rgba(255, 255, 255, 0.7);
}


.form-control {
    border-radius: 1px;
    background-color: #444;
    color: #fff;
    border: none;
}


.card {
    max-width: 400px;
    margin: auto;
    background-color: #333;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


.card-body {
    padding: 2rem;
}

.form-group{
    margin-bottom: 1.5rem;
}


.container .box div {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 0.2em 0;
}

.container .box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #444;
    color: #fff;
    border: none;
    outline: none;
    padding-left: 0.8em;
    border-radius: 10px;
    transition: all 0.5s;
}

.container .box input:focus::placeholder {
    color: #fff;
}

.container .box div::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 102%;
    height: 105%;
    border-radius: 10px;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.loginBtn {
    width: 102%;
    height: 40px;
    border-radius: 10px;
    margin: 0.2em 0;
    transform: translate(-1%);
    cursor: pointer;
    color: #fff;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    transition: all 0.5s;
}

.loginBtn:hover {
    transform: translate(-1%, 5%);
    box-shadow: 0 0 10px #ff416d65;
}

.btn-primary{
    background-color: #d32f2f;
    border-color: #d32f2f;
}

.btn-primary:hover {
    background-color: #d32f2f;
    border-color: #d32f2f;
}

.text {
    font-size: 0.8em;
    margin-top: 0.5em;
    text-align: center;
    color: rgba(255, 255, 255, 0.625);
}

.text a {
    color: rgba(255, 255, 255, 0.911);
}

.error-color {
    color: red !important;
}
